//Custom colors
$primaryColor: #61BFAC;
$primaryColorLight: #8AD7CB;

$secondaryColor: #5D382C;
$secondaryColorLight: #8D9475;
$secondaryColorVeryLight: #ADC0A3;

$veryLightGrey: #f2f2f2;

$fontColor: #121212;
$white: #FFFFFF;
$greyFont: #727272;

//Bootstrap overrides
$body-bg:    $veryLightGrey;
$fa-font-path : '../node_modules/font-awesome/fonts';