@import "variables";
@import "extendables";

* {
  &:focus {
    outline: none;
  }
}

.navbar {
  backdrop-filter: blur(2px);
}

.navbar-light .navbar-nav .nav-link {
  @include small-hover-zoom-in-out(1.1);
  color: $greyFont !important;

  &:hover {
    color: $greyFontLight !important;
  }
}

.small-hover-zoom-in-out {
  @include small-hover-zoom-in-out(1.1);
}

.primary-bg {
  background-color: $primaryColor !important;
}

.primary-light-bg {
  background-color: $primaryColorLight !important;
}

.white-bg {
  background-color: $white !important;
}

.white-bg-opaque {
  background-color: rgba($white, 0.8) !important;
}

.darker-bg-opaque {
  background-color: rgba($black, 0.1) !important;
}

.darker-bg-opaque-0-4 {
  background-color: rgba($black, 0.4) !important;
}

.grey-bg {
  background-color: $greyFont !important;
}

.transparent-bg {
  background-color: transparent !important;
}

.bright-text {
  color: $white !important;
}

.primary-text {
  color: $primaryColor !important;
}

.primary-light-text {
  color: $primaryColorLight !important;
}

.grey-text {
  color: $greyFont;
}

.btn {
  cursor: pointer;
}

.white-border {
  border: 1px solid $white;
}

.white-border-opaque {
  border: 1px solid rgba($white, 0.2);
}

.grey-border {
  border: 1px solid $border-color;
}

.grey-border-md {
  border: 2px solid $border-color;
}

.dark-grey-border {
  border: 1px solid $greyFont;
}

.dark-grey-border-md {
  border: 2px solid $greyFont;
}

.transparent-border {
  border: 1px solid transparent;
}

.transparent-border-md {
  border: 2px solid transparent;
}

.border-radius-sm {
  border-radius: $borderRadius;
}

.border-radius-top-sm {
  border-radius: $borderRadius $borderRadius 0 0;
}

.border-radius-bottom-sm {
  border-radius: 0 0 $borderRadius $borderRadius;
}

.highlight-shadow-sm {
  @extend %highlight-shadow-sm;
}

.ml--1 {
  margin-left: -0.25rem;
}

.mr--1 {
  margin-right: -0.25rem;
}

.mt--2 {
  margin-top: -0.5rem;
}

.ml--15px {
  margin-left: -15px;
}

.mr--15px {
  margin-right: -15px;
}

.crs-file-label {
  background-color: transparent;
}

.opacity-0-4 {
  opacity: 0.4;
}

.w-fit-content {
  width: fit-content;
}