@import "variables";

.primary-bg {
  background-color: $primaryColor !important;
}

.bright-text {
  color: $white !important;
}

.primary-text {
  color: $primaryColor !important;
}

.primary-light-text {
  color: $primaryColorLight !important;
}

.grey-text {
  color: $greyFont;
}

.btn {
  cursor: pointer;
}