@import "variables";

* {
  &:focus {
    outline: none;
  }
}

.primary-bg {
  background-color: $primaryColor !important;
}

.primary-light-bg {
  background-color: $primaryColorLight !important;
}

.white-bg {
  background-color: $white !important;
}

.grey-bg {
  background-color: $greyFont !important;
}

.transparent-bg {
  background-color: transparent !important;
}

.bright-text {
  color: $white !important;
}

.primary-text {
  color: $primaryColor !important;
}

.primary-light-text {
  color: $primaryColorLight !important;
}

.grey-text {
  color: $greyFont;
}

.btn {
  cursor: pointer;
}

.white-border {
  border: 1px solid $white;
}

.grey-border {
  border: 1px solid $border-color;
}

.grey-border-md {
  border: 2px solid $border-color;
}

.dark-grey-border {
  border: 1px solid $greyFont;
}

.dark-grey-border-md {
  border: 2px solid $greyFont;
}

.transparent-border-md {
  border: 2px solid transparent;
}

.border-radius-sm {
  border-radius: 4px;
}

.border-radius-top-sm {
  border-radius: 4px 4px 0 0;
}

.border-radius-bottom-sm {
  border-radius: 0 0 4px 4px;
}