<div class="primary-bg sticky-top">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg w-100 navbar-dark">
                <a class="navbar-brand bright-text pt-0 pb-0 d-flex align-items-center flex-row" routerLink="/">
                    <img class="mr-2" src="assets/icon.svg" alt="Social Dashboard icon" width="30px">
                    <small>CRS</small>
                    <small class="mb-0" *ngIf="isLoggedIn()">&nbsp;| {{getSignedInUser().getFullName()}}</small>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link bright-text" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bright-text" *ngIf="!isLoggedIn()" routerLink="/login">Login</a>
                        </li>
                        <li class="nav-item" *ngIf="isLoggedIn()">
                            <a class="nav-link bright-text cursor-pointer" routerLink="/offer/create">New offer</a>
                        </li>
                        <li class="nav-item" *ngIf="isLoggedIn()">
                            <a class="nav-link bright-text cursor-pointer" (click)="logout()">Logout</a>
                        </li>
                        <!--<li class="nav-item">-->
                            <!--<a href="http://localhost:3030/auth/facebook" class="button">Login With Facebook</a>-->
                        <!--</li>-->

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<footer class="text-center primary-light-text primary-bg align-items-center">
    <small class="mb-0">BME MSC Thesis - 2017</small>
</footer>
