@import "../../styles/variables";

.custom-file-control {
  border-color: $border-color;

  &::before {
    background-color: $primaryColor;
    color: $white
  }

  &:lang(en):empty::after {
    content: 'Browse an image';
  }
}

.custom-file-input {
  position: absolute;
  height: 100%;
}

agm-map {
  height: 300px;
}

.remove-picture-btn {
  z-index: 10;
}