<div class="container-fluid" *ngIf="offer">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto mt-4 mb-4 bright-text text-center">
      <h2 class="cursor-pointer mb-0" (click)="isSignedInUserOwn() ? editOffer() : ''">{{offer.title}}</h2>
      <h5 class="opacity-0-4 cursor-pointer mt-0 mb-3" *ngIf="isSignedInUserOwn()" (click)="editOffer()"><small>(Click to edit)</small></h5>
      <h5 class="cursor-default white-border border-radius-sm w-fit-content py-1 px-5 darker-bg-opaque mx-auto highlight-shadow-sm">{{offer.price | number}} Ft</h5>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-md-6">
      <div class="h-100 w-100 border-radius-sm d-flex flex-column align-items-center justify-content-center">
        <div class="text-center" *ngIf="offer.images?.length" [@showAnimation]>
          <img class="highlight-shadow-sm" width="70%" [src]="fileServer.getBaseURL() + offer.images[0]">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group mb-0">
        <label for="description">Description</label>
        <p id="description" class="bright-text border-radius-sm white-border h-100 p-3 cursor-default">{{offer.description}}</p>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-md-6 grey-text form-group">
      <label for="user">User</label>
      <input id="user" class="form-control" [ngModel]="offer.owner.getFullName()" disabled>
    </div>
    <div class="col-12 col-md-6 grey-text form-group">
      <label for="address">Address</label>
      <input id="address" class="form-control" [ngModel]="offer.address" disabled>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-md-6 grey-text">
      <label>Categories</label>
      <div class="d-flex flex-wrap align-items-center ml--1 mr--1">
        <div class="pt-1 pb-1 pl-2 pr-2 mb-2 ml-1 mr-1 text-center border-radius-sm bright-text transparent-bg white-border cursor-default"
             *ngIf="offer.categories.length == 0">
          <p class="mb-0">This offer doesn't have any category</p>
        </div>

        <div class="pt-1 pb-1 pl-2 pr-2 mb-2 ml-1 mr-1 text-center border-radius-sm bright-text transparent-bg white-border cursor-default"
             *ngFor="let category of offer.categories">
          <p class="mb-0">{{category.name}}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 grey-text">
      <label for="user-ask">Ask the user, or just buy it!</label>
      <textarea id="user-ask" class="form-control mb-3" [(ngModel)]="messageContent"></textarea>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 mx-auto mt-5 d-flex">
      <button class="btn btn-bright btn-block mr-3 mr-md-5" (click)="sendMessage()">Send message</button>
      <button class="btn btn-bright btn-block mt-0">Buy</button>
    </div>
  </div>
</div>