<div class="item touchcarousel-item">
  <div class="item-layers-container">
    <div class="item-layers">
      <div class="price-holder grey-text">
        <div class="price-bg"></div>
        <div class="price-bg-white-layer"></div>
        <div class="price-inner-holder">
          <h4 class="mb-0 mt-0">{{offer.price | number}} Ft</h4>
        </div>
      </div>
      <div class="offer-bg-image" [attr.data-bg]="offer.images?.length ? fileServer.getBaseURL() + offer.images[0] : ''"></div>
    </div>
    <div class="item-title">
      {{offer.title}}
    </div>
  </div>
</div>
<div class="item-fix-title mt-3">
  <h5 class="text-center">{{offer.title}}</h5>
</div>