@import 'styles/variables';
@import 'styles/theme';
@import "styles/helper";
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
}

footer {
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.font-xs {
  font-size: 12px;
}