@import 'styles/variables';
@import 'styles/theme';
@import "styles/helper";
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
  background-color: $greyFont;

  font-family: -apple-system-font, "Helvetica Neue", Helvetica, arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased
}

.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url('/assets/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(120px);
}

footer {
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

hr {
  border-top: 1px solid rgba($white, 0.2);
}

.font-xs {
  font-size: 12px;
}

label {
  color: $white;
}

.form-control {
  background-color: transparent;
  color: $white;
  border-radius: $borderRadius;

  &-xl {
    font-size: 2rem;
  }

  &:focus {
    background-color: rgba($black, 0.1);
    color: $white;
    border-color: $white;
    box-shadow: 0 0 0 0.2rem rgba($greyFont, 0.25)
  }

  &:disabled {
    color: $white;
    background-color: rgba($black, 0.4);
  }

  &.transparent {
    border-color: transparent;

    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }
}

textarea {
  resize: none;
}


//Bootstrap overrides
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $white;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: $white;
}

.btn {
  border-radius: $borderRadius;
  @include small-hover-zoom-in-out(1.02);

  &:hover {
    @extend %highlight-shadow-sm;
  }
}

.btn-bright {
  color: $greyFont;
  background-color: $white;
  border-color: transparent;

  &:hover {
    background-color: rgba($white, 0.9);
  }
}